.request-container {
  .header {
    text-align: center;
  }
  .row {
    margin: 20px;
    padding: 12px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.9);
    box-shadow:         0 0 14px 0 rgba(50, 50, 50, 0.32);
    border-radius: 1px;
    legend {
      margin-bottom: 30px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .url-group {
      .method-control {
        padding-top: 0px;
      }
    }
    .dropdown-menu {
      margin: 0;
      min-width: 80px;
      padding: 5px;
    }
  }
}
#dLabel {
  min-width: 80px;
}
#inputUrl {
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}