<div class="container request-container">
  <div class="header">
      <a href="http://docs.couchdb.org/en/latest/api/" target="_blank"
        tooltip="CouchDB API"
        tooltip-placement="bottom">
        <img class="couch-icon" src="img/dbs_couchdb.png">
      </a>
      <a href="https://github.com/orbitbot/throwpillow" target="_blank"
        tooltip="GitHub"
        tooltip-placement="bottom">
        <span class="fa fa-github"></span>
      </a>
      Throwpillow <span class="version-text">0.0.1</span>
  </div>

  <div class="row page-section">

    <form class="form-horizontal" novalidate
      ng-submit="submit()">

      <legend>
        Request
        <button type="button" class="btn btn-default pull-right"
          ng-click="resetForm()">
          Reset
        </button>
      </legend>

      <div class="form-group url-group">
        <label for="inputEmail3" class="col-sm-1 control-label method-control">
        <div class="dropdown">
          <button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown"
            ng-init="keepOpen = false"
            ng-click="keepOpen = !keepOpen"
            ng-mouseenter="dropdownHover = true"
            ng-mouseleave="keepOpen? '' : dropdownHover = false">
            {{ request.method }}
          </button>
          <ul class="dropdown-menu"
            ng-class="{'open': dropdownHover}"
            ng-mouseenter="dropdownHover = true"
            ng-mouseleave="keepOpen? '' : dropdownHover = false">
            <li><a href="" ng-click="request.method = 'GET'; dropdownHover = false; keepOpen = false">GET</a></li>
            <li><a href="" ng-click="request.method = 'HEAD'; dropdownHover = false; keepOpen = false">HEAD</a></li>
            <li><a href="" ng-click="request.method = 'PUT'; dropdownHover = false; keepOpen = false">PUT</a></li>
            <li><a href="" ng-click="request.method = 'POST'; dropdownHover = false; keepOpen = false">POST</a></li>
            <li><a href="" ng-click="request.method = 'DELETE'; dropdownHover = false; keepOpen = false">DELETE</a></li>
            <li><a href="" ng-click="request.method = 'COPY'; dropdownHover = false; keepOpen = false">COPY</a></li>
          </ul>
        </div>
        </label>
        <div class="col-sm-10">
          <input type="url" class="form-control request-input" placeholder="CouchDB URL" required
            ng-model="request.url">
        </div>
      </div>

      <div class="form-group" ng-show="request.headers">
        <label for="payload" class="col-sm-1 control-label method-control">
          Headers
        </label>
        <div class="col-sm-10">
          <div ng-repeat="(key,value) in request.headers">
            <span class="response-header">{{ key }}:</span>&nbsp;&nbsp;&nbsp;{{ value }}
            <button class="btn btn-default pull-right" type="button"
              ng-click="removeHeader(key)">
              Remove header
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="payload" class="col-sm-1 control-label method-control">
          Add header
        </label>
        <div class="col-sm-4">
          <input type="text" class="form-control request-input" placeholder="Header field"
            ng-keydown="$event.which === 13 ? (newHeader.field && newHeader.value ? addHeader($event): $event.preventDefault()) : ''"
            ng-model="newHeader.field">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control request-input" placeholder="Header value"
            ng-keydown="$event.which === 13 ? (newHeader.field && newHeader.value ? addHeader($event): $event.preventDefault()) : ''"
            ng-model="newHeader.value">
        </div>
        <div class="col-sm-1">
          <button class="btn btn-default" type="button"
            ng-show="newHeader.field && newHeader.value"
            ng-click="addHeader()">
            Add header
          </button>
        </div>
      </div>

      <div class="form-group"
        ng-show="['PUT', 'POST'].indexOf(request.method) >= 0">
        <label for="payload" class="col-sm-1 control-label method-control">
          Payload
        </label>
        <div class="col-sm-10">
          <div class="payload-editor"
            ui-ace="aceOption()"
            ng-model="request.payload">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-2">
          <button type="submit" class="btn btn-default col-xs-12">Send</button>
        </div>
      </div>

    </form>

  </div>

  <div class="row page-section response" ng-show="request.response">
    <legend>Result</legend>
    <div class="row">
      <div class="col-sm-1">Status</div>
      <div class="col-sm-10">{{ request.response.status }}&nbsp;&nbsp;&nbsp;{{ request.response.text }}&nbsp;&nbsp;&nbsp;{{ request.response.RTT }} ms</div>
    </div>

    <div class="row">
      <div class="col-sm-1">Headers</div>
      <div class="col-sm-10">
        <div ng-repeat="(key, value) in request.response.headers">
          <span class="response-header">{{ key }}:</span>&nbsp;&nbsp;&nbsp;{{ value }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">Data</div>
      <div class="col-sm-10">
        <pre>{{ request.response.data | json }}</pre>
      </div>
    </div>
  </div>
</div>